body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.content p, .content ul {
text-align: justify;
}
.cv-container {
    display: flex;
    width: 70%;
    margin: auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar  {
    width: 30%;
    background: #002b5b;
    color: white;
    padding: 20px;
    text-align: justify;
}

.profile-image {
    width: 120px;                                              
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
}
.sidebar h2 {
    margin-top: 10px;
}
.content {
    width: 70%;
    padding: 20px;
    text-align: left;
}
h2 {
    color: #002b5b;
    border-bottom: 2px solid rgb(3, 3, 44);
    padding-bottom: 5px;
}
.section {
    margin-bottom: 20px;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    padding: 5px 0;
}
.footer {
    text-align: center;
    padding: 10px;
    background: #002b5b;
    color: white;
}
.sidebar .section {
    text-align: left;
    margin-top: 20px;
}
.bold-dot::before {
    content: "●"; 
    font-weight: bold;
    font-size: 18px; 
    margin-right: 5px;
}
.timeline {
    position: relative;
    padding-left: 20px;
}
.timeline::before {
    content: "";
    position: absolute;
    left: 5px; 
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: maroon; 
}
.timeline li {
    position: relative;
    list-style-type: none;
    margin-left: 20px;
}
.timeline li::before {
    content: "•";
    position: absolute;
    left: -20px;
    font-size: 20px;
}
.highlight {
    color: blue;
}


.cv-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.sidebar {
    width: 30%;
    background: rgb(2, 2, 76);
    padding: 20px;
    border-left: 2px solid #ccc;
}
.content {
    width: 70%;
    padding: 20px;
}
.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

body {
    font-family: Arial, sans-serif;
    margin: 40px;
    text-align: center;
}
.skill-container {
    width: 80%;
    margin: 0 auto;
}
.skill {
    text-align: left;
    margin: 10px 0;
}
.progress-bar-container {
    width: 100%;
    background-color: gray;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    margin-top: 5px;
}
.progress-bar {
    height: 100%;
    text-align: center;
    line-height: 20px;
    color: white;
    font-weight: bold;
    background-color: maroon;
    border-radius: 5px;
}
.nc-button {
    margin-left: 15px;
    padding: 5px 10px;
    background-color: #002b5b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}
.nc-button:hover {
    background-color: #004080;
}

.hidden-image {
    display: none;
    text-align: center;
    margin-top: 10px;
}
.hidden-image img {
    width: 300px;
    border-radius: 10px;
}
